[submodule "Software/Gameling/Drivers/Components/pca9685"]
	path = Software/Gameling/Drivers/Components/pca9685
	url = https://henriheimann@github.com/henriheimann/stm32-pca9685.git
[submodule "Software/Gameling/Drivers/Components/pcd8544"]
	path = Software/Gameling/Drivers/Components/pcd8544
	url = https://henriheimann@github.com/henriheimann/stm32-pcd8544.git
